# Byte-compiled / optimized / DLL / tox files
__pycache__/
*.py[cod]
*$py.class
*.pyc
/.tox/

# My files
run*.sh
clean_py_REF.txt
versionUpddate.sh
versionUpddate_REF.txt
tmp/

# Other files
.DS_Store
#docs/.DS_Store
#tests/.DS_Store
